/* Nav Bar Styling */
nav li {
	list-style-type: none;
}

nav li.name > a {
	font-size: 1rem;
}


/** Tabs! */
#tabs {
	height: 100%;
	overflow-x: scroll;
	overflow-y: visible;
	position: relative;
}

.tab-title {
	width: 250px;
}

.tab-title a {
	font-size: 0.95rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.ul-tabs {
	padding-top: 10rem;
	clear: both;
}

/* The iframe class is just used on the Github fork and star buttons */
.iframe {
	display: table-cell;
	vertical-align: bottom;
	line-height: 2rem;
	padding-top: 0.75rem;
}

.ui-state-highlight {
	height: 150px;
	margin: 25px 5px;
	background-color: black;
	width: 190px !important;
	opacity: 0.1;
	border-radius: 1rem;
}

.scrum-board-canvas {
	min-width: 95%;
	margin: 0 auto;
	min-height: 900px;
	height: 100%;
	overflow-x: scroll;
	overflow-y: visible;
	position: relative;
	text-align: center;
}

.title {
	padding: 0em 1em 1em 1em;
}

.scrum-column {
	float: left;
	min-height: 900px;
	height: 100%;
	z-index: 0;
	margin: 0 0.5rem;
	padding: 0;
	overflow: visible;
	text-align: left;
}

.scrum-column h3 {
	margin-top: 0.75rem;
	margin-bottom: 0;
	text-align: center;
	font-weight: 800;
}

.scrum-column hr {
	margin: 0 3em;
	border: 1px solid gray;
	display: none;
}
.scrum-column > ul {
	margin: 0;
}

.task {
	background-color: white;
	min-height: 200px;
	width: 200px;
	padding: 0.25rem;
	margin: 2rem auto !important;
	border: 1px solid gray;
	list-style-type: none;
}

.task:hover {
	background-color: #fdfdfd;
	border-color: black;
	list-style-type: none;
}

.task-placeholder {
	opacity: 0.3;
	content: ' ';
	width: 172px;
	margin: 0;
}

.drag-handle {
	cursor: move;
	padding: 0.5rem;
	margin: 0.5rem;
	overflow:auto;
}

.drag-handle:hover {
	background-color: #efefef;
	padding: 0.5rem;
	margin: 0.5rem;
}

.sortable {
	height: 100%;
	position: relative;
	overflow: visible;
}

.description {
	font-size: 0.75rem;
	height: 5rem;
	padding: 0.5rem;
	display: inline-block;
	width: 100%;
	overflow: auto !important;
	white-space: normal;
	margin-bottom: 0.5rem;
}

.assignee select {
	margin: 0 5%;
	width: 90%;
	font-size: 0.75rem;
}

.task-comments {
	font-size: 0.75rem;
	margin-left: 0.5rem;
}

.github-issue-link a {
	font-size: 0.65rem !important;
}

#login {
	clear: both;
	margin: 0;
}

#login li {
	list-style-type: none;
	margin: 0;
}

.logged-in-name {
	background-color: #efefef;
	padding: 0.75rem;
}

.messages {
	background-color: red;
}


/* The fields used to load the repository on the upper right */
.repo-form input {
	margin-top: 0.25rem;
	margin-bottom: 0;
}

/* This is just the slash between the two fields */
.input-divider {
	font-size: 2rem;
	display: table-cell;
	line-height: 1rem;
	vertical-align: bottom;
	clear: none;
	padding-top: 0.9rem;
	margin: 0 0.5rem;
	color: #efefef;
}

/* The 'Load Repo' button */
.repo-submit {
	margin: 0.25rem 2rem 0rem 1rem !important;
	line-height: 0.5rem !important;
	border: none;
	color: black !important;
	font-size: 1.3rem !important;
	padding: 0.75rem 1rem 0.75rem 1rem !important;
	background-color: #eaeaea !important;
	height: 2.25rem !important;
	border-color: #c9c9c9 !important;
}
.repo-submit:hover, {
	background-color: #c9c9c9 !important;
	border-color: #c9c9c9 !important;
}

/* So, the CSS here is really inelegant, and we need to reset some dumb things */
.regular-list, .errors, .regular-list li, .errors li {
	width: 100% !important;
	max-width: 100%;
}