/** Tabs! */
#tabs {
	height: 100%;
	overflow-x: scroll;
	overflow-y: visible;
	/*position: fixed;*/
	/*width: 250px;*/
	/*background-color: gray;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
	/*padding-top: 5%;*/
}



#tab-list {
	z-index: 999999;
}

#tabs ul {
	width: 10rem;
}

#tabs li {
	width: 10rem;
	text-overflow: ellipsis;
	word-wrap: none;
	overflow: hidden;
  white-space: nowrap;
}

#tabs li a {
	font-size: 0.95rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#tabs-content {
	margin-left: 12rem;
}



#tab-list, #tab-content {
	/*float: left;*/
	/*position: absolute;*/
	clear: none;
}

#tab-list {
	padding-top: 4rem;
	min-height: 100%;
	background-color: gray;
	position: fixed;
}

#tab-content {
	margin-left: 12rem;
	position: relative;
	overflow-x: scroll;
	overflow-y: visible;
	/*width: 100% !important;*/
}

/*#scrumboard ul {
	margin: 0;
	list-style-type: none;
	overflow: visible;
	min-height: 600px;
}*/

.ui-state-highlight {
	height: 150px;
	margin: 25px 5px;
	background-color: black;
	width: 190px !important;
	opacity: 0.1;
	border-radius: 1rem;
}

.scrum-board-canvas {
	min-width: 95%;
	margin: 0 auto;
	min-height: 900px;
	height: 100%;
	overflow-x: scroll;
	overflow-y: visible;
	position: relative;
	float: left;
	text-align: center;
}

.title {
	padding: 2em 1em 1em 1em;
}

.scrum-column {
	float: left;
	/*position: absolte;*/
	min-height: 900px;
	height: 100%;
	z-index: 0;
	margin: 0 0.5rem;
	padding: 0;
	overflow: visible;
	text-align: left;
}

.scrum-column h3 {
	margin-top: 0.75rem;
	margin-bottom: 0;
	text-align: center;
	font-weight: 800;
}

.scrum-column hr {
	margin: 0 3em;
	border: 1px solid gray;
	display: none;
}

.task {
	background-color: white;
	min-height: 200px;
	width: 200px !important;
	padding: 0.25rem;
	margin: 0.5rem !important;
	border: 1px solid gray;
	list-style-type: none;
	/*overflow: visible;*/
}

.task:hover {
	background-color: #fdfdfd;
	border-color: black;
	list-style-type: none;
}

.task-placeholder {
	opacity: 0.3;
	/*min-height: 200px;*/
	content: ' ';
	width: 172px;
	margin: 0;
}

.drag-handle {
	cursor: move;
	padding: 0.5rem;
	margin: 0.5rem;
}

.drag-handle:hover {
	background-color: #efefef;
	padding: 0.5rem;
	margin: 0.5rem;
}

.sortable {
	position: relative;
	height: 100%;
	overflow: visible;
}

.description {
	font-size: 0.75rem;
	height: 5rem;
	padding: 0.5rem;
	display: inline-block;
	width: 100%;
	overflow: auto !important;
	white-space: normal;
	margin-bottom: 0.5rem;
}

.assignee select {
	margin: 0 5%;
	width: 90%;
	font-size: 0.75rem;
}

body {
	padding: 0;
	margin: 0;
	/*background-color: #EFEFEF;*/
}
.task-comments {
	font-size: 0.75rem;
	margin-left: 0.5rem;
	/*text-align: right;*/
}
.github-issue-link {

}

.github-issue-link a {
	font-size: 0.65rem !important;
	/*margin: 0 6%;*/
}

#login-information {
	margin: 0;
}

#login-information ul {
	list-style-type: none;
	margin: 0;
}

#login-information li {
	list-style-type: none;
	margin: 0;
}

.logged-in-name {
	background-color: #efefef;
	padding: 0.75rem;
	/*margin: 0;*/
}

.messages {
	background-color: red;
}

.repo-form {
	margin-right: 2rem;
}

.repo-submit {
	margin-left: 1rem;
	border: none;
	font-size: 0.5rem;
	background-color: #fafafa;
}
.repo-submit:hover {
	background-color: #eaeaea;
}

.repo-form li {
	display: inline-block;
}


.input-divider {
	font-size: 2rem;
	display: table-cell;
	line-height: 1rem;
	vertical-align: bottom;
	clear: none;

	padding: 0;
	margin: 0 0.5rem;
	color: #efefef;
}

.regular-list {
	width: 100% !important;
	max-width: 100%;
}

.regular-list li {
	width: 100% !important;
	max-width: 100%;
}