/** Tabs! */
#tabs {
	height: 100%;
	position: fixed;
	width: 250px;
	background-color: gray;
	display: table-cell;
	vertical-align: middle;
	padding-top: 5%;
}

#tabs ul {
	width: 250px;
}

#tabs li {
	width: 250px;
	text-overflow: ellipsis;
	word-wrap: none;
	overflow: hidden;
  white-space: nowrap;
}

#tabs-content {
	margin-left: 300px;
}

/** Scrub Board */
#scrumboard {
	min-width: 90%;
	width: 90%;
	/*position: relative;*/
	/*float: left;*/
	padding: 0 auto;
	margin: 0 auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: visible;
}

#scrumboard ul {
	margin: 0;
	list-style-type: none;
	overflow: visible;
	min-height: 600px;
}

.ui-state-highlight {
	height: 150px;
	margin: 2.5rem;
	background-color: black;
	opacity: 0.1;
	border-radius: 1rem;
}

#scrum-board-canvas {
	width: 100%;
	margin: 0 auto;
	min-height: 600px;
	height: 600px;
	clear: both;
	overflow: visible;
	position: relative;
	float: left;
	text-align: center;
}

.title {
	padding: 2em 1em 1em 1em;
}

.scrum-column {
	float: left;
	position: absolte;
	min-height: 600px;
	z-index: 0;
	margin: 0 0.5rem;
	padding: 0;
	overflow: visible;
	text-align: left;
}

.scrum-column h3 {
	margin-top: 0.75rem;
	margin-bottom: 0;
	text-align: center;
	font-weight: 800;
}

.scrum-column hr {
	margin: 0 3em;
	border: 1px solid gray;
	display: none;
}

.task {
	background-color: white;
	min-height: 200px;
	padding: 1em;
	margin: 1rem !important;
	/*border-radius: 0.75em;*/
	border: 1px solid gray;
	list-style-type: none;
	overflow: visible;
	/*z-index: 999;*/
}

.task:hover {
	background-color: #fdfdfd;
	border-color: black;
	list-style-type: none;
}

.task-placeholder {
	opacity: 0.3;
	min-height: 200px;
	content: ' ';
}

.drag-handle {
	cursor: move;
	padding: 0.25rem;
	padding-left: 0.5rem;
	/*overflow: visible;*/
}

.drag-handle:hover {
	background-color: #efefef;
	padding: 0.25rem;
	padding-left: 0.5rem;
}

.sortable {
	position: relative;
	height: 100%;
	overflow: visible;
}

.description {
	font-size: 0.75rem;
	height: 5rem;
	padding: 0.5rem;
	/*text-align: justify;*/
	overflow: auto;
	margin-bottom: 0.5rem;
}

.assignee select {
	margin: 0;
	font-size: 0.75rem;
}

body {
	padding: 0;
	margin: 0;
}
.task-comments {
	font-size: 0.75rem;
	margin-left: 0.5rem;
	/*text-align: right;*/
}
.github-issue-link {

}

.github-issue-link a {
	font-size: 0.5rem;
}